/* Default layout */
.app-container {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  overflow: auto;
  transition: margin-left 0.3s ease;
}

.with-sidebar {
  margin-left: 16rem; /* Adjust the value as per your sidebar width */
}

.full-width {
  margin-left: 0;
}

@media screen and (max-width: 768px) {
  .with-sidebar {
    margin-left: 0; /* Hide sidebar on mobile */
  }
}

.sidebar {
  width: 16rem;
  transition: transform 0.3s ease;
}

.sidebar.hidden {
  transform: translateX(-100%);
}

/* Sidebar will remain hidden in mobile by default */
@media screen and (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(-100%);
    z-index: 10;
  }
}
